.modalWrapp {
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

.modalWrapp.active {
    opacity: 1;
    pointer-events: all;
    scale: 1;
}

.modalContent {
    position: relative;
    background-color: #4c4c4c;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
    scale: 0.5;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 90%;
}

.modalContent.active {
    scale: 1;
}

.ordertable {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 50vh;
    overflow-y: scroll;
    border-radius: 0px 0px 15px 15px;
}

.ordertable * {
    color: #e2e2e2;
}

.ordertable tr td {}

.ordertable tr {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    font-size: 18px;
}

.payBlock {
    display: flex;
    flex-direction: row-reverse;
}

.payBlock button {
    background: #5deb65;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 6px;
    color: black;
    font-size: 15px;
}

.payBlock button:hover {
    background: #55c95a
}

.payBlock button:active {
    scale: .9;
}

.headLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    h2 {
        font-size: 26px;
        font-weight: 500;
    }
}

.dashedLine {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed;
}

.totalPriceText {
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed;
    border-bottom: 1px dashed;

    span {
        font-size: 19px;
        font-weight: 400;
    }
}

.tableNomer {
    input {
        padding: 2px;
        color: black;
        outline: none;
        width: 18px;
        text-align: center;
        font-size: 16px;
        border: 0;
        border-radius: 6px;
        font-weight: 400;
    }

    display: flex;
    gap: 8px;
}

.textareaBlock {
    textarea {
        min-width: 100%;
        max-width: 150px;
        min-height: 80px;
        max-height: 80px;
        border-radius: 6px;
        outline: none;
        padding: 5px;
        color: black;
        transition: 0.9s;
    }

    textarea:focus {
        box-shadow: 0px 0px 7px 3px #f4ff9d63;
    }
}

input[type="number"] {
    transition: 1s;
}

input[type="number"]::placeholder {
    opacity: 0;
}

input[type="number"]:invalid {
    box-shadow: 0px 0px 7px 3px rgb(255, 0, 0);
}

input:not(:placeholder-shown) {
    box-shadow: 0px 0px 7px 3px rgb(17, 255, 0)
}