@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300;400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap);

html {
  scroll-behavior: smooth;
  scroll-margin-bottom: 60px;
  scroll-timeline: --page-scroll block;
}

:root {
  --animation-ms: .4s
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
  font-weight: 200;
  color: #fff;
}

@supports (animation-range:normal) {
  .animation-show {
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    animation: linear reveal both;

    animation-range: entry 25% exit 58% !important;
    animation-timeline: --revealing-image !important;
  }

  @keyframes reveal {
    0% {
      opacity: 0.5;
      scale: 0.5;
    }

    10% {
      opacity: 1;
      scale: 1;
    }

    90% {
      opacity: 1;
      scale: 1;
    }

    100% {
      opacity: 0.5;
      scale: 0.5;
    }
  }
}

.header,
main {
  padding: 0 25px
}

a,
main {
  color: #f0f8ff
}

body,
main {
  background-color: #222
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.submenu,
.submenu-wrapper {
  overflow: hidden
}

.header__nav-logo:hover,
.header__nav-menu h2:hover,
.submenu-item:hover {
  scale: 1.1
}

a {
  text-decoration: none
}

ul {
  list-style: none
}

button {
  cursor: pointer;
  border: 0;
}

.lockBody {
  overflow: hidden;
}

#liqpay_checkout {
  width: 85vw;
  height: 85vh;
  border-radius: 10px;
  overflow-y: scroll;
}

.header {
  background-image: url('../public/img/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px
}

.header__nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px 20px;
  z-index: 100;
  background: #000000c0;
  border-radius: 0 0 0 10px
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--animation-ms)
}

.cart-block {
  display: flex;
  justify-items: center;
  gap: 5px;
  align-items: center;
  padding: 5px;
  scale: 0;
  transition: .3s;
}

.show-cart {
  scale: 1 !important;
}

.cart-icon {
  width: 25px;
  height: 25px;
}

.img-logo {
  padding: 2px;
  width: 35px;
  height: auto;
  filter: brightness(0%) invert(100%)
}

.logo {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 47px;
  font-weight: 400
}

.burger-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 20px
}

.bacground,
.submenu-item {
  width: 100%;
  transition: var(--animation-ms)
}

.burger-menu::after,
.burger-menu::before,
.middle-line {
  background: #fff;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  transition: var(--animation-ms)
}

.burger-menu::after,
.burger-menu::before {
  content: '';
  transform-origin: center
}

.burger-menu::after {
  top: 0
}

.burger-menu::before {
  bottom: 0
}

.middle-line {
  top: 50%;
  transform: translateY(-50%)
}

.header__nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px
}

.header__nav-menu h2 {
  font-size: clamp(1.2em, 5vw, 1.5em);
  transition: var(--animation-ms)
}

.submenu {
  display: flex;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.submenu-wrapper {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  cursor: pointer;
  position: relative
}

.submenu-item {
  min-height: 295px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.bacground {
  z-index: 1;
  background: #00000048;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.submenu-item:hover .bacground {
  background: #0000005f
}

.submenu-text {
  text-align: center;
  z-index: 2;
  color: #fff !important;
  transition: var(--animation-ms)
}

.submenu-item:hover .submenu-text {
  scale: 0.9
}

.kuhnya {
  background-image: url(../public/img/kuhnyaMenu.jpg)
}

.kalyan {
  background-image: url(../public/img/kalyanMenu.jpg)
}

.koktail {
  background-image: url(../public/img/koktailsMenu.jpg)
}

.alco {
  background-image: url(../public/img/alkoMenu.jpg)
}

.menu {
  display: flex;
  flex-direction: column
}

.wrapper-menu-title {
  display: flex;
  justify-content: center;
  overflow: hidden
}

.menu-title {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
  padding: 10px;
  position: relative
}

.menu-title::after,
.menu-title::before {
  position: absolute;
  content: '';
  background-color: #414141;
  height: 1px;
  width: 500px;
  top: 50%
}

.menu-title::before {
  left: 100%
}

.menu-title::after {
  right: 100%
}

.menu-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 2s;
  transform-origin: top
}

.menu-list-item {
  display: flex;
  flex-direction: column;
  transition: .3s;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  background-color: #313131;
  justify-content: space-between;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.menu-details {
  width: 150px
}

.item-img {
  border-radius: 10px;
  width: 150px;
}

.item-price {
  font-size: 1rem;
  color: #b9b9b9;
}

.item-title {
  font-size: 1.3rem;
}

.item-subr {
  font-size: 0.9rem;
  color: gray
}

.item-regul {
  border: 2px solid#00ff3c77;
  display: flex;
  justify-content: space-between;
  background-color: #151515;
  border-radius: 7px;
  padding: 2px;
  transition: 0.3s;
}

.item-regul button {
  background-color: transparent;
  font-size: 16px;
  padding: 0 6px;
  border-radius: 7px;
  transition: var(--animation-ms);
}

.item-regul button:hover {
  background-color: #414141;
}

.item-btn {
  width: 100%;
  padding: 2px;
  border-radius: 7px;
  font-size: 1.1rem;
  background-color: #151515;
}



@media (max-width:1068px) {
  .header {
    background-image: none;
    height: auto
  }

  .header__nav {
    background-color: #000;
    transition: 1s
  }

  .header__nav-menu,
  .header__nav.scrolled {
    background: #000000c0
  }

  .header__nav-menu {
    position: absolute;
    right: 0;
    top: 99%;
    flex-direction: column;
    padding: 5px 25px;
    z-index: 100;
    border-radius: 0 0 0 10px;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: var(--animation-ms)
  }

  .burger-menu {
    display: block
  }

  .burger-menu.active::after {
    top: 50%;
    transform: translateY(-50%) rotate(45deg)
  }

  .burger-menu.active::before {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg)
  }

  .burger-menu.active .middle-line {
    left: 100%;
    opacity: 0
  }

  .header__nav-menu.active {
    transform: rotateX(0)
  }

  .submenu {
    margin-top: 53px;
    flex-direction: column
  }

  .submenu-item {
    min-height: 235px
  }

  main {
    padding: 0 18px
  }
}

.item-regul:has(#incrItem:active, #decrItem:active) {
  scale: 0.9;
}